﻿@page "/"
@using BabysitterWageCalculator.Models;
@if (startError)
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" Variant="Variant.Filled" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlerts(true))">Start time cannot be before 5pm!</MudAlert>
}
@if (overtimeError)
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" Variant="Variant.Filled" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlerts(true))">Your selected times are outside the acceptable range!</MudAlert>
}
@if (bedError)
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" Variant="Variant.Filled" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlerts(true))">Bed time cannot be before start time!</MudAlert>
}
@if (endError)
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" Variant="Variant.Filled" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlerts(true))">End time cannot be after 4am!</MudAlert>
}
<MudPaper Width="350px" Elevation="3">
    <MudItem>
        <MudListSubheader>
            Your wages
        </MudListSubheader>
        <MudList Dense="true" DisableGutters="true" DisablePadding="true">
            <MudListItem Icon="@Icons.Material.Filled.RadioButtonUnchecked" IconSize="Size.Small" Text="$12/hour from start-time to bedtime"></MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.RadioButtonUnchecked" IconSize="Size.Small" Text="$8/hour from bedtime to midnight"></MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.RadioButtonUnchecked" IconSize="Size.Small" Text="$16/hour from midnight to end of job"></MudListItem>
        </MudList>
    </MudItem>
</MudPaper>
<MudGrid>
    <MudDivider></MudDivider>
    <MudItem xs="12" sm="6">
        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="Start Time" TimeEditMode="TimeEditMode.OnlyHours" AmPm="true" @bind-Time="startTime" />
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="End Time" TimeEditMode="TimeEditMode.OnlyHours" AmPm="true" @bind-Time="endTime" />
    </MudItem>
    <MudItem xs="12">
        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="Kids' bedtime" TimeEditMode="TimeEditMode.OnlyHours" AmPm="true" @bind-Time="bedTime" />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" OnClick="@(()=>SaveModel())" Color="Color.Primary">Calculate</MudButton>
    </MudItem>
</MudGrid>
<MudItem xs="12" sm="6" md="4">
    <MudNumericField ReadOnly="true" Label="Your charge" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" @bind-Value="charge" HideSpinButtons="true"></MudNumericField>
</MudItem>

@code{
    // Set default times
    TimeSpan? startTime = new TimeSpan(17, 00, 00);
    TimeSpan? endTime = new TimeSpan(20, 00, 00);
    TimeSpan? bedTime = new TimeSpan(19, 00, 00);

    // Errors
    bool error = false;
    bool startError = false;
    bool bedError = false;
    bool endError = false;
    bool overtimeError = false;

    // Default charge
    decimal charge = 0.00m;

    /// <summary>
    /// Save chosen times to data model and calculate charge
    /// </summary>
    private void SaveModel()
    {
        if (!Validate())
        {
            return;
        }

        BabysitterRate babysitterRate = new BabysitterRate();
        babysitterRate.BedTime = bedTime;
        babysitterRate.StartTime = startTime;
        babysitterRate.EndTime = endTime;

        charge = babysitterRate.CalculateCharge();
    }

    /// <summary>
    /// Validates form input
    /// </summary>
    /// <returns></returns>
    private bool Validate()
    {
        // 12 hour times. Hour values are converted to negative ints for AM and positive ints for PM for easy comparisons.
        // I couldn't figure out a less gross way to do this, since TimeSpans are in a 24hr format, therefore 5pm for example is
        // technically after 4am and would throw off any normal timespan comparisons
        int newStart = 0;
        int newEnd = 0;
        int newBed = 0;
        if (((TimeSpan)startTime).Hours > 12)
        {
            newStart = ((TimeSpan)startTime).Hours - 12;
        }
        else
        {
            newEnd = ((TimeSpan)startTime).Hours * -1;
        }
        if (((TimeSpan)endTime).Hours > 12)
        {
            newEnd = ((TimeSpan)endTime).Hours - 12;
        }
        else
        {
            newEnd = ((TimeSpan)endTime).Hours * -1;
        }
        if (((TimeSpan)bedTime).Hours > 12)
        {
            newBed = ((TimeSpan)bedTime).Hours - 12;
        }
        else
        {
            newBed = ((TimeSpan)bedTime).Hours * -1;
        }

        // Make sure start time does not fall before 5pm
        if (newStart > 0 && newStart < 5)
        {
            error = true;
            startError = true;
        }

        // Make sure bed time isn't before start time
        if (newBed < newStart)
        {
            error = true;
            bedError = true;
        }

        // Make sure babysitter does not fall out of workable hours
        if (newStart < 5 && newEnd < -4)
        {
            error = true;
            overtimeError = true;
        }

        // Make sure end time doesn't surpass 4am
        if (newEnd < -4)
        {
            error = true;
            endError = true;
        }

        if (error)
        {
            return false;
        }
        return true;
    }

    private void CloseAlerts(bool value)
    {
        startError = false;
        overtimeError = false;
        bedError = false;
        endError = false;
    }
}